# Data Analysis of Star Wars Survey Dataset

#### Chance Mason, Nicolas Arrieche Villegas, Mitchell Walker, Tyler Wittig

The Star Wars Survey dataset is a labeled dataset with 1188 records. It has 15 features, which are survey questions regarding people's opinions on the Star Wars franchise and some personal information such as: "Do you consider yourself a Star Wars fan?", "Which is your favorite movie?", "Which character shot first?", "Gender", "Income", et cetera.

More information about the dataset can be found [here](https://github.com/fivethirtyeight/data/tree/master/star-wars-survey).

---

## Part 1. Data Preparation

In [11]:
import pandas as pd
import numpy as np

### 1.1 Read in the Raw Dataset
For this particular dataset, the header is 2 lines, and the file contains non-ASCII characters that cause an error in read_csv with the default encoding.

To read in and display the raw dataset, we will make use of the header and encoding parameters.

In [12]:
raw_data = pd.read_csv(
    'survey_raw.csv', 
    header=[0,1], 
    encoding='unicode_escape'
)

print("Shape = ", raw_data.shape)
raw_data.head()

Shape =  (1186, 38)

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28_level_0,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?æ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
,Unnamed: 0_level_1,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
0,3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3.0,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
1,3292879538,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1.0,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3292763116,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3292731220,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

### 1.2 Header Labels
To make the dataset more manageable and understandable, we will **simplify the header** by combining the two rows into a single row, and shortening the labels to be more concise.  

Note that there were **non-ASCII characters** mistakenly input at the end of the column label: "Do you consider yourself to be a fan of the Expanded Universe?" 

Since the new header labels remove these values, we will see that we can now use normal encoding to read in the dataset, and thus we know we have removed all non-ASCII characters from the data.

In [13]:
# new labels
with open('column_names.txt', 'r') as cn:
    col_names = [line.strip() for line in cn]

# read in dataset with new header
data = pd.read_csv('survey_raw.csv', 
    header=0,  # ignore raw header
    names=col_names,  # use new header
    skiprows=1  # skip first two rows (old header rows)
)

print("Shape = ", data.shape)
data.head()

Shape =  (1186, 38)

,RespondentID,Seen a Star Wars film,Fan of Star Wars,Seen The Phantom Menace,Seen Attack of the Clones,Seen Revenge of the Sith,Seen A New Hope,Seen The Empire Strikes Back,Seen Return of the Jedi,Rank for The Phantom Menace,...,View of Yoda,Which character shot first?,Familiar with the Expanded Universe?,Fan of the Expanded Universe?,Star Trek Fan,Gender,Age,Household Income,Education,Location (Census Region)
0,3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3.0,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
1,3292879538,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1.0,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3292763116,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3292731220,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

### 1.3 Missing Values

In [14]:
# display number of missing values per column
print("Total Missing Values:\n\n" + str(data.isnull().sum()))

Total Missing Values:

RespondentID                              0
Seen a Star Wars film                     0
Fan of Star Wars                        350
Seen The Phantom Menace                 513
Seen Attack of the Clones               615
Seen Revenge of the Sith                636
Seen A New Hope                         579
Seen The Empire Strikes Back            428
Seen Return of the Jedi                 448
Rank for The Phantom Menace             351
Rank for Attack of the Clones           350
Rank for Revenge of the Sith            351
Rank for A New Hope                     350
Rank for The Empire Strikes Back        350
Rank for Return of the Jedi             350
View of Han Solo                        357
View of Luke Skywalker                  355
View of Princess Leia Organa            355
View of Anakin Skywalker                363
View of Obi Wan Kenobi                  361
View of Emperor Palpatine               372
View of Darth Vader                     360
View of Lando Calrissian                366
View of Boba Fett                       374
View of C-3P0                           359
View of R2 D2                           356
View of Jar Jar Binks                   365
View of Padme Amidala                   372
View of Yoda                            360
Which character shot first?             358
Familiar with the Expanded Universe?    358
Fan of the Expanded Universe?           973
Star Trek Fan                           118
Gender                                  140
Age                                     140
Household Income                        328
Education                               150
Location (Census Region)                143
dtype: int64

#### We will handle the missing values of each column separately, as follows:
* **"Fan of Star Wars"**  
Since choosing not to answer could indicate indifference or uncertainty, we will treat missing values as a "Maybe" answer.
* **Seen {Movie}**  
For each of these questions, the answer is the full name of the movie if the respondent has seen it, and is a missing value otherwise. We will replace this with "Yes" if the respondent has seen it and "No" otherwise.
* **Rank for {Movie}**  
For each of these questions, the answer is a number from 1 through 6.
For now, we will replace missing values with 0.
* **View of {Character}**  
For each of these questions, the answer ranges from "Very favorably" to "Very unfavorably", or can be "Unfamiliar (N/A)".  
We will replace missing values with "Unfamiliar (N/A)". 
* **"Which character shot first?"**  
For this question, the answer is "Han", "Greedo", or "I don't understand this question". We will replace missing values with the latter of these three answers.
* **{Familiar with, Fan of} the Expanded Universe?  
For each of these questions, the answer is either "Yes" or "No". We will replace missing values with "?" for now.
* **Star Trek Fan**  
Since choosing not to answer could indicate indifference or uncertainty, we will treat missing values as a "Maybe" answer.

* **"Gender", "Age", "Household Income", "Education",** and **"Location (Census Region)"** are the labels we wish to predict, and so we will remove them if they contain a missing value in the column we are using as our label.

In [15]:
# Replace missing values

# "Fan of Star Wars"
data["Fan of Star Wars"].replace(np.NaN, "Maybe", inplace=True)

# "Seen {Movie}"
seen_cols = col_names[3:9]
for col in seen_cols:
    data[col].replace(data[col].unique()[0], "Yes", inplace=True)
    data[col].replace(np.NaN, "No", inplace=True)
    
# "Rank for {Movie}"
rank_cols = col_names[9:15]
for col in rank_cols:
    data[col].replace(np.NaN, 0.0, inplace=True)
    
# "View of {Character}"
view_cols = col_names[15:29]
for col in view_cols:
    data[col].replace(np.NaN, "Unfamiliar (N/A)", inplace=True)  

# "Which character shot first?"
data["Which character shot first?"].replace(np.NaN, "I don't understand this question", inplace=True)

# "{Familiar with, Fan of} the Expanded Universe?"  
data["Familiar with the Expanded Universe?"].replace(np.NaN, "?", inplace=True)
data["Fan of the Expanded Universe?"].replace(np.NaN, "?", inplace=True)

# "Star Trek Fan" 
data["Star Trek Fan"].replace(np.NaN, "Maybe", inplace=True)

# Labels Columns ("Gender", "Age", "Household Income", "Education", and "Location (Census Region)")
labels_cols = col_names[33:39]
for col in labels_cols:
    data[col].replace(np.NaN, "?", inplace=True)

print("Shape = ", data.shape)
data.head()

Shape =  (1186, 38)

,RespondentID,Seen a Star Wars film,Fan of Star Wars,Seen The Phantom Menace,Seen Attack of the Clones,Seen Revenge of the Sith,Seen A New Hope,Seen The Empire Strikes Back,Seen Return of the Jedi,Rank for The Phantom Menace,...,View of Yoda,Which character shot first?,Familiar with the Expanded Universe?,Fan of the Expanded Universe?,Star Trek Fan,Gender,Age,Household Income,Education,Location (Census Region)
0,3292879998,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3.0,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,?,High school degree,South Atlantic
1,3292879538,No,Maybe,No,No,No,No,No,No,0.0,...,Unfamiliar (N/A),I don't understand this question,?,?,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3292765271,Yes,No,Yes,Yes,Yes,No,No,No,1.0,...,Unfamiliar (N/A),I don't understand this question,No,?,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3292763116,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5.0,...,Very favorably,I don't understand this question,No,?,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3292731220,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5.0,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

In [16]:
# display number of missing values per column
print("Total Missing Values:\n\n" + str(data.isnull().sum()))

Total Missing Values:

RespondentID                            0
Seen a Star Wars film                   0
Fan of Star Wars                        0
Seen The Phantom Menace                 0
Seen Attack of the Clones               0
Seen Revenge of the Sith                0
Seen A New Hope                         0
Seen The Empire Strikes Back            0
Seen Return of the Jedi                 0
Rank for The Phantom Menace             0
Rank for Attack of the Clones           0
Rank for Revenge of the Sith            0
Rank for A New Hope                     0
Rank for The Empire Strikes Back        0
Rank for Return of the Jedi             0
View of Han Solo                        0
View of Luke Skywalker                  0
View of Princess Leia Organa            0
View of Anakin Skywalker                0
View of Obi Wan Kenobi                  0
View of Emperor Palpatine               0
View of Darth Vader                     0
View of Lando Calrissian                0
View of Boba Fett                       0
View of C-3P0                           0
View of R2 D2                           0
View of Jar Jar Binks                   0
View of Padme Amidala                   0
View of Yoda                            0
Which character shot first?             0
Familiar with the Expanded Universe?    0
Fan of the Expanded Universe?           0
Star Trek Fan                           0
Gender                                  0
Age                                     0
Household Income                        0
Education                               0
Location (Census Region)                0
dtype: int64

### 1.4 Duplicate and Inconsistent Values
For this step we will exclude the "RespondentID" column since all of its values are unique.  
* We will use a built-in pandas function to check for **duplicate entries** in our data set.
* Since there is not a large number of columns, we will write all unique values from each column to a file called "unique_values.txt" and manually check for **inconsistent values**. We will display the number of unique values for each column below.

In [17]:
# ignore RespondentID column since all its values are unique 
data_unindexed = data.drop(['RespondentID'],axis=1)
cols_unindexed = [c for c in col_names if c != 'RespondentID']

In [18]:
# identify duplicate rows (excluding their first occurrence)
duplicate_rows = data_unindexed[data.duplicated()]
print("Number of Duplicate Rows: " + str(len(duplicate_rows)))

Number of Duplicate Rows: 0

In [19]:
# write unique values to a file
print("Total Unique Values for each column:\n")
with open('unique_values.txt', 'w') as uv:
    for name in cols_unindexed:
        uvals = data[name].unique()
        uv.write(name + '\n')
        for val in uvals:
            uv.write(str(val) + '\n')
        uv.write('\n')
        print(name + ": " + str(len(uvals)))

Total Unique Values for each column:

Seen a Star Wars film: 2
Fan of Star Wars: 3
Seen The Phantom Menace: 2
Seen Attack of the Clones: 2
Seen Revenge of the Sith: 2
Seen A New Hope: 2
Seen The Empire Strikes Back: 2
Seen Return of the Jedi: 2
Rank for The Phantom Menace: 7
Rank for Attack of the Clones: 7
Rank for Revenge of the Sith: 7
Rank for A New Hope: 7
Rank for The Empire Strikes Back: 7
Rank for Return of the Jedi: 7
View of Han Solo: 6
View of Luke Skywalker: 6
View of Princess Leia Organa: 6
View of Anakin Skywalker: 6
View of Obi Wan Kenobi: 6
View of Emperor Palpatine: 6
View of Darth Vader: 6
View of Lando Calrissian: 6
View of Boba Fett: 6
View of C-3P0: 6
View of R2 D2: 6
View of Jar Jar Binks: 6
View of Padme Amidala: 6
View of Yoda: 6
Which character shot first?: 3
Familiar with the Expanded Universe?: 3
Fan of the Expanded Universe?: 3
Star Trek Fan: 3
Gender: 3
Age: 5
Household Income: 6
Education: 6
Location (Census Region): 10

### Write Cleaned Dataset to CSV

In [20]:
data.to_csv('survey_data.csv', index=False)